.entry .wp-caption,.entry table tr.alt{background:none;}

.cf:after
{
	content: "."; 
	display: block;
	height: 0; 
	font-size:0;
	clear: both;
	visibility:hidden;
}

img{
max-width: 100%;
height: auto;
width /***/:auto;Å@
}

#trigger-overlay
{
	cursor:pointer;
}

.login_btn
{
	width:250px;
	height:50px;
	border:none;
	border-radius:3px;
	background:#ecba0b;
	font-weight:bold;
	font-size:20px;
	color:#000;
}

.container_bg
{
	background:#01295a url(../images/bg.jpg) no-repeat bottom center;
}

.col_b1
{
	background-color:rgba(0,0,0,0.8);
}

.col_b2
{
	background-color:rgba(0,0,0,0.6);
}

.def_table
{
	width:100%;
	margin-top:10px;
}

.container-inner2
{
	background-color:rgba(0,0,0,0.6);
	padding-top:10px;
}

.def_table td,.def_table th
{
	padding:5px;
	color:#fff;
}

.regist_table
{
	border:none;
}

.regist_table tr:nth-child(even) td, .regist_table tr:nth-child(even) th
{  
  background-color:rgba(0,0,0,0.4);  
}  

.regist_table th
{
	color:#6bb2fb;
}


.agreement_box
{
	border-radius:10px;
	background:#333;
	padding:10px;
}

.agreement_box2
{
	margin-top:20px;
	border-radius:10px;
	background:#333;
	padding:10px;
}

.agreement_box2 h3
{
	border:3px solid #eb1b5a;
	padding:10px;
}

.agreement_box2 h4
{
	border-bottom:1px dotted #fff;
	padding-bottom:5px;
}



.login_b_l
{
	float:left;
	padding-right:10px;
	box-sizing:border-box;
	width:50%;
	text-align:right;
}

.login_b_r
{
	float:left;
	width:50%;
	text-align:left;
}

.neteller_h2
{
	text-align:center;
	background:#ecba0b;
	padding:10px;
}

.neteller_table
{
}

.neteller_table th
{
	background:#333;
	color:#fff;
}

.neteller_table td
{
	background:#fff;
	color:#000;
}

.link_a a
{
	color:#fff;
	font-size:20px;
	text-decoration:underline;
}

.link_a li
{
	margin-top:20px;
}

.error
{
	color:#ff0000;
	background:#ccc;
	padding:10px;
	margin:10px;
}

.withdrawal_p
{
	margin-top:20px;
	color:#fff;
	font-size:20px;
}

.withdrawal_p span
{
	font-size:20px;
	color:#f1c208;
	font-weight:bold;
}

strong.win
{
	color:#2481f4;
	font-size:20px;
}

strong.lose
{
	color:#f42473;
	font-size:20px;
}

.def_p
{
	color:#fff;
}

.top_ul li
{
	float:left;
}

.top_h2
{
	color:#fff;
	font-size:24px;
	margin-top:20px;
	font-weight:bold;
	text-align:center;
}
	

@media only screen and (min-width: 769px)
{
	#topsp{display:none;}
	.content_all
	{
		margin-top:30px;
	}
	
	.content_l
	{
		width:50%;
		box-sizing:border-box;
		padding:0 10px;
		float:left;
	}
	
	.lanking_title
	{
		text-align:center;
	}

	.neteller_box
	{
		margin-top:50px;
	}

	.neteller_box_l
	{
		width:30%;
		float:left;
	}

	.neteller_box_r
	{
		width:60%;
		float:left;
		box-sizing:border-box;
		padding-left:10px;
	}

	.mypage_menu
	{

	}

	.mypage_menu_btn_box
	{
		width:33%;
		float:left;
		box-sizing:border-box;
		padding:10px;
	}

	.info_textarea
	{
		width:300px;
		height:250px;
	}

	.top_ul li img
	{
		max-width:300px;
	}

	.login_block
	{
	/*
		background-image:url("img/login_bg1.png"),url("img/login_bg1.png");
		background-repeat:no-repeat,no-repeat;
		background-position:top center, bottom center;
	*/
		text-align:center;
		width:100%;
		margin:0 auto;
	}

	.login_block_sp
	{
		display:none;
	}

	.mypage_cm
	{
		display:none;
	}

	.mypage_cm_pc
	{
		
	}
	
	.play_btns
	{
		width:100%;
		margin-top:10px;
	}
	
	.play_btns div
	{
		float:left;
		width:50%;
	}
	
	.play_btns_l
	{
		padding-right:10px;
		box-sizing:border-box;
	}
	
}

@media only screen and (max-width: 768px)
{
	#toppc{display:none;}
	#topsp{height:647px;}
	.sp_top1
	{
		margin-top:20px;
	}
	
	.up_margin
	{
		margin-top:-80px;
	}

	.neteller_box
	{
		margin-top:100px;
	}
	.info_textarea
	{
		width:250px;
		height:250px;
	}

	.top_ul
	{
		width:100%
	}
	.top_ul li
	{
		width:50%;
	}
	
	.sp_margin_bottom20
	{
		margin-bottom:20px;
	}
/*
	
	.login_block
	{
		display:none;
	}
	.login_block_sp
	{
		text-align:center;
		width:100%;
		margin:0 auto;
	}
	
	.login_block_sp img
	{
		
	}
	
	.login_b_l
	{
		width:50%;
	}
	
	.login_b_r
	{
		width:50%;
	}
*/
	.top_game
	{
		margin-top:20px;
		margin-bottom:20px;
	}

	.mypage_cm
	{
		margin-bottom:10px;
	}
	
	.mypage_cm_pc
	{
		display:none;
	}
}

@media screen and (max-width:640px)
{
	#toppc{display:none;}
	#topsp{height:647px;}
	.sp_top1
	{
		margin-top:20px;
	}
	
	.up_margin
	{
		margin-top:-80px;
	}

	.top_game
	{
		margin-top:20px;
	}

	.neteller_box
	{
		margin-top:100px;
	}
	.info_textarea
	{
		width:250px;
		height:250px;
	}

	.top_ul
	{
		width:100%
	}
	.top_ul li
	{
		width:50%;
	}
	
	.sp_margin_bottom20
	{
		margin-bottom:20px;
	}

/*
	.login_block
	{
		display:none;
	}
	.login_block_sp
	{
		text-align:center;
		width:100%;
		margin:0 auto;
	}
	
	.login_block_sp img
	{
		
	}
	
	.login_b_l
	{
		width:50%;
	}
	
	.login_b_r
	{
		width:50%;
	}
*/
	.mypage_menu_btn_box
	{
		width:50%;
		float:left;
		box-sizing:border-box;
		padding:10px;
	}

	.mypage_cm
	{
		margin-bottom:10px;
	}

	.mypage_cm_pc
	{
		display:none;
	}

}
